body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background-color: #111;
  color: #eee;
  text-align: center;
}

header {
  background-color: #222;
  padding: 2rem 1rem;
}

.logo {
  height: 80px;
}

nav {
  background-color: #333;
  padding: 1rem;
}

nav a {
  color: #00ffcc;
  margin: 0 1rem;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 2rem 1rem;
  border-bottom: 1px solid #444;
}

footer {
  background-color: #222;
  padding: 1rem;
  font-size: 0.9em;
  color: #777;
}